{#
/**
 * Header 
 */
#}

<header class="main-header" role="banner">  
  <div class="container">
    {{ page.header }}

    <div class="main_nav">
        {{ page.main_nav }}
    </div>
  </div>
</header>